.wrapper {
  max-width: 80%;
  margin-inline: auto;
  padding: 2rem 3rem;
}

.container {
  display: flex;

  .cursoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;

    .vimeoVideo {
      height: 750px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      background-color: black;

      iframe {
        border: none;
        width: 100%;
        height: 100%;
      }
    }

    nav ul {
      display: flex;
      list-style: none;
      gap: 2rem;
      justify-content: space-around;
      align-items: center;
      padding: 2.375rem;

      a {
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 33px;

        &:hover {
          border-bottom: 4px solid var(--yellow);
        }
      }
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    height: 750px;
    width: 20%;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;

    overflow-y: auto;
    background-color: var(--gray-800);
    color: aliceblue;

    h2 {
      font-weight: 600;
      font-size: 28px;
      text-align: center;

      border-bottom: 1px solid var(--yellow);
      width: 100%;
      padding: 0 0 0.5rem 0;
    }

    nav ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 1.25rem;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 0 0 1rem 0;

      .active {
        border-bottom: 4px solid var(--yellow);
      }

      .noBorder {
        border-bottom: none;
      }

      a {
        font-weight: bold;
        font-size: 1.25rem;

        &:hover {
          border-bottom: 4px solid var(--yellow);
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 0rem;
    padding: 0rem;

    aside {
      width: 100%;
      height: 100%;
      gap: 1rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      overflow-x: auto;

      nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1.25rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0 0 1rem 0;

        .active {
          border-bottom: 3px solid var(--yellow);
        }

        a {
          font-weight: bold;
          font-size: 1.25rem;

          &:hover {
            border-bottom: 3px solid var(--yellow);
          }
        }
      }
    }

    .cursoContainer {
      h2 {
        width: 500px;
        height: 50%;
      }

      .vimeoVideo {
        /* min-height: 100%; */
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* position: relative; */
        background-color: white;

        iframe {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
