.wrapper {
  max-width: 80%;
  margin-inline: auto;
  padding: 2rem 3rem;
}

.container {
  display: flex;

  .ContainerVideo {
    display: flex;
  }

  .ContainerSidebar {
    display: none;
    width: 450px;
    flex-direction: column;
    height: 695px;
    background: #202022;

    @media screen and (min-width: 1120px) {
      display: flex;
    }
    @media screen and (min-width: 1400px) {
      height: 765px;
    }
    @media screen and (min-width: 1920px) {
      height: auto;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 10px;
      color: var(--gray-100);
    }

    .SideBarDesktop {
      display: block;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: #202022;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #fde047;
        border-radius: 10px;
        border: 1px solid #000000;
      }

      ul {
        margin: 0px;
        display: flex;
        flex-direction: column;

        .activeLesson {
          background: #fff000;
          color: #202022;
        }
        .active {
          background: #fff000;
          color: #202022;
          border-radius: 4px;
        }
        li {
          border-bottom: solid 0.5px #474633;
          margin: 0px;

          &:hover {
            background: #fff000;
            border-radius: 4px;
          }
        }

        a {
          margin-left: 10px;
          font-weight: bold;
          font-size: 1rem;
          display: block;
          color: var(--gray-100);
          &:hover {
            color: #202022;
          }
        }
      }
    }
  }

  .ContainerSidebarFalse {
    display: flex;
    padding: 5px;
    flex-direction: column;
    background: rgb(83, 36, 36);
    height: 690px;

    background: #ffffff;
  }

  .NameSidebar {
    display: none;
  }

  .MenuSidebar {
    display: none;
    border-radius: 6px;
    background: #202022;
    border: solid 1px #adadba;
    cursor: pointer;
    &:hover {
      background: #42423b;
    }
    @media screen and (min-width: 1120px) {
      display: flex;
    }
  }

  .cursoContainer {
    display: flex;

    justify-content: center;
    flex-direction: column;

    /* align-items: center; */
    width: 100%;

    .vimeoVideo {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      background: black;
      border-radius: 1px;

      div,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    nav ul {
      display: flex;
      list-style: none;
      gap: 2rem;
      justify-content: space-around;
      align-items: center;
      padding: 2.375rem;

      a {
        font-weight: bold;
        font-size: 1.75rem;
        line-height: 33px;

        &:hover {
          border-bottom: 4px solid var(--yellow);
        }
      }
    }
  }

  nav {
    ul {
      margin: 0px;
      display: flex;
      flex-direction: column;

      .activeLesson {
        background: #fff000;
      }
      .active {
        background: #fff000;
        border-radius: 4px;
      }
      li {
        border-bottom: solid 0.5px #474633;
        margin: 0px;

        &:hover {
          background: #fff000;
          border-radius: 4px;
        }
      }

      a {
        margin-left: 10px;
        font-weight: bold;
        font-size: 1rem;
        display: block;
      }
    }
  }

  .menuMobile {
    @media screen and (min-width: 1120px) {
      display: none;
      max-width: 300px;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    height: 750px;
    width: 20%;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;

    overflow-y: auto;
    background-color: var(--gray-800);
    color: aliceblue;

    .mobileAside {
      border-bottom: 1px solid var(--yellow);

      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;

        width: 100%;
        padding: 0 0 0.5rem 0;
      }

      .arrowDown {
        display: none;
      }
    }

    nav ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 1.25rem;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding: 0 0 1rem 0;

      .active {
        border-bottom: 3px solid var(--yellow);
      }

      .noBorder {
        border-bottom: none;
      }

      a {
        font-weight: bold;
        font-size: 1.25rem;

        &:hover {
          border-bottom: 3px solid var(--yellow);
        }
      }
    }
  }
}
.textMenu {
  display: none;
  @media screen and (min-width: 1120px) {
    display: block;
    font-size: 20px;
  }
}
@media (max-width: 1120px) {
  .wrapper {
    max-width: 100%;
  }

  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    padding: 0rem;

    .vimeoVideo {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;

      div,
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
    aside {
      width: 100%;
      height: 100%;
      gap: 1rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      overflow-x: auto;
      display: flex;

      .mobileAside {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: none;

        .arrowDown {
          display: block;
        }
      }

      nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1.25rem;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0 0 1rem 0;

        .activeLesson {
          border-bottom: 3px solid var(--yellow);
        }

        a {
          font-weight: bold;
          font-size: 1.25rem;

          &:hover {
            border-bottom: 3px solid var(--yellow);
          }
        }
      }
    }

    .cursoContainer {
      width: 100%;

      h2 {
        height: 100%;
      }

      .vimeoVideo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;

        iframe {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
