.wrapper {
    max-width: 75%;
    margin-inline: auto;
    padding: 2rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  
    h1 {
      margin-bottom: 2rem;
      text-align: center;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.8125rem;
      padding: 2rem 1rem;
      background-color: var(--gray-100);
  
      border-radius: 10px;
      max-width: 547px;
  
      img {
        margin-bottom: 3rem;
      }
  
      input {
        border-radius: 5px;
        padding: 1rem 0.5rem;
        width: 100%;
        border: none;
        background-color: var(--gray-200);
  
        &::placeholder {
          padding: 1rem;
        }
      }
  
      button {
        padding: 1rem 10rem;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        border-radius: 5px;
        border: none;
        box-shadow: 0px 4px 4px var(--blackShadowBox);
        background-color: var(--yellow-200);
  
        font-weight: 600;
        font-size: 15px;
        transition: filter 0.2s;
  
        &:hover {
          filter: brightness(1.1);
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: inherit;
      }
    }
  
    div {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      margin-bottom: 2rem;
  
      a {
        color: white;
        background-color: black;
        text-align: center;
  
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
        padding: 0.5rem 2rem;
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .wrapper {
      max-width: 100%;
      width: 100%;
      padding: 0.5rem;
    }
    .container form {
      width: 100%;
      padding: 1rem;
  
      button {
        padding: 1rem 0rem;
      }
    }
  }
  