.wrapper {
  text-align: center;
  margin-top: 4rem;

  h1 {
    margin-bottom: 2rem;
    max-width: 85%;
    margin-inline: auto;
  }
  .trilhaContainer {
    max-width: 76%;
    margin-inline: auto;

    /* gap: 1.875rem;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 */

    display: flex;
    padding: 3rem;
    justify-content: center;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: linear-gradient(
        90deg,
        #201c29,
        #201c29 1px,
        #17141d 0,
        #17141d
      );
    }

    &::-webkit-scrollbar-thumb {
      background: #201c29;
      border-radius: 10px;
      box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
        inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    }

    .trilha {
      /*  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 20px;
      color: black;
      text-align: justify;
      font-size: 1.4375rem; */

      display: flex;
      position: relative;
      flex-direction: column;
      height: 21.875rem;
      width: 25rem;
      min-width: 15.625rem;
      padding: 1.5rem;
      align-items: center;
      text-align: justify;

      border-radius: 16px;
      background: #000000; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to bottom,
        #434343,
        #000000
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to bottom,
        #434343,
        #000000
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      transition: 0.4s;
      margin: 0;
      scroll-snap-align: start;
      clear: both;
      box-shadow: -1rem 0 3rem #000;
      color: whitesmoke;

      &:hover {
        transform: translateY(-1rem);
      }

      &:not(:first-child) {
        margin-left: -130px;
      }

      img {
        width: 25%;
        height: 25%;
        padding: 1rem;
      }
    }

    .trilha:focus-within ~ .trilha,
    .trilha:hover ~ .trilha {
      transform: translateX(130px);
    }
  }

  h2 {
    margin-bottom: 2rem;
    max-width: 85%;
    margin-inline: auto;
  }

  .coursesContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--gray-800);
    border-radius: 20px;
    color: aliceblue;
    margin: 3rem 0;
    max-width: 25%;
    margin-inline: auto;

    h3 {
      font-size: 1.5rem;
    }

    .course a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.5rem 4rem;
      text-align: justify;

      &:hover {
        background-color: var(--yellow);
        border-radius: 10px;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 100%;

    .trilhaContainer {
      max-width: 85%;
    }

    .coursesContainer {
      max-width: 85%;
    }
  }
}
