.wrapper {
  text-align: center;
  margin-top: 4rem;

  h1 {
    margin-bottom: 2rem;
    max-width: 85%;
    margin-inline: auto;
  }
  .trilhaContainer {
    max-width: 76%;
    margin-inline: auto;

    gap: 1.875rem;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .trilha {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      /* background-color: var(--gray-800); */
      border-radius: 20px;
      color: black;
      text-align: justify;
      font-size: 1.4375rem;

      img {
        width: 20%;
        height: 20%;
        padding: 1rem;
      }
    }
  }

  h2 {
    margin-bottom: 2rem;
    max-width: 85%;
    margin-inline: auto;
  }

  .coursesContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--gray-800);
    border-radius: 20px;
    color: aliceblue;
    margin: 3rem 0;
    max-width: 25%;
    margin-inline: auto;

    h3 {
      font-size: 1.5rem;
    }

    .course a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.5rem 4rem;
      text-align: justify;

      &:hover {
        background-color: var(--yellow);
        border-radius: 10px;
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 100%;

    .trilhaContainer {
      max-width: 85%;
    }

    .coursesContainer {
      max-width: 85%;
    }
  }
}
