.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 67.9375rem;
  gap: 1rem;

  text-align: justify;
  font-size: 1.25rem;
}
