.headerWrapper {
  background-color: var(--gray-800);

  .headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13.5px 2rem;
    max-width: 80%;
    margin-inline: auto;

    .backContainer {
      display: flex;
      margin-right: auto;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: aliceblue;
        padding: 0.25rem 0.5rem;

        font-size: 1.5rem;
        border-bottom: 2px solid var(--gray-800);

        &:hover {
          background-color: var(--yellow);
          border-radius: 10px;
          color: black;
        }
      }
    }
    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        max-width: 13rem;
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  .headerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 2rem;
    max-width: 100% !important;
  }
}
