.headerWrapper {
  background-color: var(--gray-800);

}


.headerContainer {
  display: flex;
  padding: 13.5px 2rem;
  justify-content: center;
  align-items: center;


  img {
    max-width: 13rem;
  }
}

