.footerWrapper {
  background-color: var(--gray-900);
}

.footerContainer {
  display: flex;
  max-width: 79%;
  margin-inline: auto;
  padding: 13.5px 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  img {
    max-width: 13rem;
  }

  .linksContainer {
    display: flex;
    gap: 1rem;
    color: var(--gray-500);
    align-items: center;

    a {
      color: var(--gray-500);
      text-decoration: none;
      text-align: center;

      &:hover {
        color: aliceblue;
      }
    }
  }

  .iconsContainer {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a {
      color: var(--gray-500);

      &:hover {
        color: aliceblue;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .footerContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .linksContainer {
      display: flex;
      flex-direction: column;

      span {
        display: none;
      }
    }
  }
}
